body {
    background-image: url(../imagen/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 101vh;
}
.btn-start {
    background-color:  #D5C416;
}
.btn-register {
    background-color: #887E36;
}
h3 {
    color: white;
}
.btn {
    font-weight: 560;
    color: #000000;
}
