*{
  text-decoration: none;
  list-style:none;
}
.btn-dark {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.text-white {
  font-weight: 400;
}
.color{
   background-color: #F3EBA3;
}
.mt-2, .my-2 {
   margin-top: 1.5rem!important;
}
.ctnproductos{
    margin-top: 12px;
}
.listaprecios{
    background-color: #887E36;
    border-radius: 7px;
    padding: 18px;
    height: 500px;
}

.inputMesa{
    width: 50px;
}

h1{
    color: white;
}

.w-25 {
  width: 13%!important;
}

.ctnMenuResumen{
  width: 100%;
}
