.btn-dark {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.text-white {
  font-weight: 400;
}
.btn-color{
   background-color: #F3EBA3;
}
.mt-2, .my-2 {
   margin-top: 1.5rem!important;
}