@font-face{
    font-family: 'Amazin';
    src: url(./AmazingKids.ttf);
}
 
.navLogo{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    width: 18%;
    margin-right: 18%;
} 
.navbar-dark{
    height: 200px;
}
.textNav{
    width: 20%;
    color: white;
    font-family: 'Amazin';
    font-size: 62px;
    margin-top: 20px;
    margin-left: 20px;
}

 .btnclose{
    width: 85px;
    height: 75px;
    margin-top: 13px;
}  

.btnNavpedido{
    color: black;
    background-color: #D5C416;
    border-radius: 10px;
    width: 137px;
    height: 45px;
    margin-top: 29px;
    font-weight: 600;
    text-align: center;
    padding-top: 11px;

}