.section{
    background-color:white;
    border-radius: 7px;
    padding: 18px;
}

.columnLength {
    flex-direction: column;
    background-color:#887E36;
    margin: 5px;
    display: flex;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 0 hsla(0,0%,70.2%,.7);
    min-width: 260px;
    min-height: 265px;
    max-width: 265px;
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.orders{
    margin-left: 1.3rem;
    width: fit-content;
}
.ok{
    margin-left: 3.5rem;
}
.time{
    flex-direction: column;
    background-color:#F3EBA3;
    margin: 5px;
    display: flex;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 0 hsla(0,0%,70.2%,.7);
    min-width: 250px;
    min-height: 250px;
    max-width: 265px;
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.fondoTime{
    background-color: black;
    text-align: center;
}

.caja { 
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 31px; 
    font-weight: 400; 
    text-align: center; 
    background: black; 
    margin: 0 0 25px; 
    overflow: hidden; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px;
    margin-top: 16px; 
}