body {
    background-color: white;
  }
  .input-group {
    width: 33%;
    top: 17px;
    margin-left: 20px;
  }
  .containerBotones {
    width: 100%;
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
  } 
  .bg-dark {
    background-color: #000000!important;
}